@font-face {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-display: swap;
	font-weight: 100 1000;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto-flex:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
	font-stretch: 25% 151%;
	font-style: oblique -15deg 15deg;
	font-optical-sizing: auto;
}

.bg-gray {
	background-color: #f4f4f4;
}
.color-gray {
	color: #949C9B;
}
.p-m {
	padding: 16px;
}
.py-m {
	padding-top: 16px;
	padding-bottom: 16px;
}
.p-0 {
	padding: 0;
}
.mt-0 {
	margin-top: 0;
}
:root {
	font-family: "Roboto Flex";
	font-weight: 400;
	font-size: 14px;
	font-variation-settings:
	"slnt" 0,
	"wdth" 150, 
	"wght" 400, 
	"grad" 0,
	"xopq" 96,  
	"xtra" 500, 
	"yopq" 79,  
	"ytas" 800, 
	"ytde" -203,
	"ytfi" 738, 
	"ytlc" 500, 
	"ytuc" 712, 
	"opsz" 14; 
}

h1 {
	font-weight: 600;
	font-size: 30px;
	font-variation-settings:
	"slnt" 0,
	"wdth" 150, 
	"wght" 600, 
	"grad" 0,
	"xopq" 96,  
	"xtra" 500, 
	"yopq" 79,  
	"ytas" 800, 
	"ytde" -203,
	"ytfi" 738, 
	"ytlc" 500, 
	"ytuc" 712, 
	"opsz" 30; 
}